/* :root{
    /* color pallette 
    --light-blue: #56a4f9;
    --dark-blue: #306fb2;
    --green: #52b131;
    --yellow: #eccd41;
    --red: #e02a26;
    --dark-red: #7f141c;
    --black: #1e1510;
    --accent: #fffbf5;
} */

